@import 'variables'; 

h1{
    color: transparent;
    margin: 10px;
    padding: 0%;
    font-size: 5em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient($color-fondos-y-textos, #fff);
    -webkit-background-clip: text;
   position: relative;
}

.logo{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

     img{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    }
}


body{
    background-color: lightgray; padding: 150px; 
    font-family: sans-serif;
}
main{
    max-width: 1200px;
    background: white;
    background-color:grey;
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    border-radius: 8px;

}
#cajaMenu{
    background-color: $color-fondos-y-textos;
    color: white;
}

#navegadorMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}

li{
    display: inline-block;

 a{
    text-decoration: none;
    font-size: 2em;
    color: white;
}
}
#listasMenu ul{
    list-style: none;
    margin: 0;
    padding: 0;

             li{
    display: inline;
    }
                li a{
    color: white;
    display: block;
    padding: 20px 80px;
    text-decoration: none;}

                li a:hover{
    background-color: white;}
}
.item-ini{
    float:initial;
    margin-left: 400px;
}

.item-nav{
    float: inline-end;
    margin-left: 200px;
}


h2{
    color: $color-fondos-y-textos;
    font-size: 3em;
    font-style: italic;
}

p{
    color: rgb(70, 70, 70);
    font-size: 2em;
}


.fotoPresentacion{
    height: 60em;
    width: 70em;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    text-align:center;
    position: absolute;
    bottom: 20px;
    right: auto;
    top: auto;
    padding-top: 7px;
    font-size:11px;
    color: #666;
    text-align:center;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: -525px;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 800px;
    height: 980px;


     li{
position: absolute;
left: 0;
top: 0;
opacity: 0;
width: inherit;
height: inherit;
background-color: white;
transition: opacity .5s;
}

         img{
    width: 100%;
    height: 100%;
    object-fit: 32;
}


         li:first-child {
opacity: 1;
}

ul.slider li:target {
opacity: 1;
}

.mSlider{
    text-align:center;
    position: absolute;
    bottom: 20px;
    right: 525px;
    top: 2650px;
    padding-top: 7px;
    font-size:11px;
    color: #666;
    text-align:center;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: -525px;
}

.menuSlider li{
   display: inline-block;
   text-align: center;
}

             li a{
             display: block;
            color: white;
             text-decoration: none;
             background-color: $color-fondos-y-textos;
             padding: 10px;
             width: 20px;
             height: 20px;
             font-size: 20px;
             border-radius: 100%;
            }

.slider{
    animation-duration: 5s;
    animation-name: slider;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-play-state: running, paused, running;
}

@keyframes slider{
    from{
        margin-left: 100%;
        width: 300%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }
}
}
.foto1, .foto2, .foto3, .foto4, .foto5, .foto6{
    
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piedepagina {
    display: flex;
   justify-content: flex-end;
}

.mapadeubicacion{
    height: 250px;
    width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direccionMapa{
    color: $color-fondos-y-textos;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin-left: 30px;
    margin: 100px;
}
.direccionMapa{
    color: $color-fondos-y-textos;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 250px;
    width: 250px;
    top: 3000px;
    right: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb,.inst, .wts{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 2000px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.redesSociales{
    float: right;
    }

.mapadeubicacion, .fb, .inst, .wts {
    margin: 8em;
    padding: 1em;
    color: white;
    float: left;
}

/*nosotros*/

.sirviendoDaiquiri {
    height: 60%;
    width: 60%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sirviendoDaiquiri{
    animation-duration: 3s;
    animation-name: slidein;
    animation-direction: alternate;
}

@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }
}

h3{
    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    color: black;
}
/*Servicios*/
.tiposdebarra{
    height: 50%;
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Cocktails*/
.foto7, .foto8, .foto9, .foto10{

margin-top: 10px;
margin-left: 10px;
margin-bottom: 10px;
margin-right: 10px;
display: flex;
justify-content: center;
align-items: center;
}

/*Contacto*/
.textoparaescribir{
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 15px;
    justify-content: flex-start;
    height: 150px;
    width: 1000px;
}



/*media querys*/
/*Mobile*/
@media screen and (max-width: $sm) {
    .grid_container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 0px;
        row-gap: 0px;
        grid-template-areas: "nav nav nav"
        "main main main"
        "footer footer footer";
    }
    .fotoPresentacion{
        width: $thumbnail-border-width;
        padding: $thumbnail-padding;
        box-shadow: $thumbnail-box-shadow;
    }
}


/*Tablet*/
@media screen and (min-width:481px) and (max-width: $md) {
        .grid_container{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                }
                
                .div_item1 { grid-area: 1 / 1 / 4 / 5; }
        /*display: grid; 
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: 0px;
        row-gap: 0px;
        grid-template-areas: "nav nav nav nav "
        "main main main main"
        "footer footer footer footer"*/
    
    .fotoPresentacion{
        width: $thumbnail-border-width;
        padding: $thumbnail-padding;
        box-shadow: $thumbnail-box-shadow;
    }
}
